{% extends 'base.html' %}

{% block content %}

<h1 class="mb-4">
    📋 Mis Boards
</h1>

<div class="row mb-4">

    <div class="col-md-2">

        <div class="card bg-primary text-white shadow">

            <div class="card-body">

                <h6>Boards</h6>

                <h2>{{ total_boards }}</h2>

            </div>

        </div>

    </div>

    <div class="col-md-2">

        <div class="card bg-success text-white shadow">

            <div class="card-body">

                <h6>Listas</h6>

                <h2>{{ total_listas }}</h2>

            </div>

        </div>

    </div>

    <div class="col-md-2">

        <div class="card bg-dark text-white shadow">

            <div class="card-body">

                <h6>Tareas</h6>

                <h2>{{ total_tarjetas }}</h2>

            </div>

        </div>

    </div>

    <div class="col-md-2">

        <div class="card bg-success text-white shadow">

            <div class="card-body">

                <h6>Completadas</h6>

                <h2>{{ completadas }}</h2>

            </div>

        </div>

    </div>

    <div class="col-md-2">

        <div class="card bg-warning text-dark shadow">

            <div class="card-body">

                <h6>Pendientes</h6>

                <h2>{{ pendientes }}</h2>

            </div>

        </div>

    </div>

    <div class="col-md-2">

        <div class="card bg-danger text-white shadow">

            <div class="card-body">

                <h6>Vencidas</h6>

                <h2>{{ vencidas }}</h2>

            </div>

        </div>

    </div>

</div>


<div class="row">

    {% for board in boards %}

    <div class="col-md-4 mb-4">

        <div class="card board-card bg-dark text-light shadow">

            <div class="card-body">

                <h3>{{ board.nombre }}</h3>

                <div class="d-flex gap-2 mt-4">

                    <a href="/board/{{ board.id }}/"
                       class="btn btn-primary btn-sm">
                        Abrir
                    </a>

                    <a href="/editar-board/{{ board.id }}/"
                       class="btn btn-warning btn-sm">
                        Editar
                    </a>

                    <a href="/eliminar-board/{{ board.id }}/"
                       class="btn btn-danger btn-sm">
                        Eliminar
                    </a>

                </div>

            </div>

        </div>

    </div>

    {% empty %}

    <p>No tienes boards todavía.</p>

    {% endfor %}

</div>

{% endblock %}